<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>310223318966-2ivdhsh1ufd7224q3b0d6ij80aa4ria9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310223318966-2ivdhsh1ufd7224q3b0d6ij80aa4ria9</string>
	<key>API_KEY</key>
	<string>AIzaSyDdXvRVTrXg1uZOQjYrsn9fBR7Lb0Q5rao</string>
	<key>GCM_SENDER_ID</key>
	<string>310223318966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hirota.nishizato.liviv</string>
	<key>PROJECT_ID</key>
	<string>liviv-a23ee</string>
	<key>STORAGE_BUCKET</key>
	<string>liviv-a23ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310223318966:ios:9164d1c5c46153ab</string>
	<key>DATABASE_URL</key>
	<string>https://liviv-a23ee.firebaseio.com</string>
</dict>
</plist>